* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F3F3F3;
}
.main {
    height: 1000px;
    margin: 0px 160px 0px 160px;
    background-color: white;
}

.page-about_header {
    height: 1000px;
    width: 1000px;
    background-image: url("img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}